doctype
head
    title
        | JohnSmith - Lightweight and simple JavaScript MVVM Framework

    meta(charset="UTF-8")

    link(rel="stylesheet", href="assets/styles/github.css")
    link(rel="stylesheet", href="assets/styles/bootstrap.min.css")
    link(rel="stylesheet", href="assets/styles/app.css")

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='john-smith.debug.js')
    script(src='assets/scripts/highlight.pack.js')
    script(src='assets/scripts/bootstrap.min.js')
    script(src='assets/scripts/app.js')
    script
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-41108809-1', 'john-smith-js.com');
        ga('send', 'pageview');
html
    body(data-spy="scroll", data-target="#mainNavigation")
        header#mainHeader.clearfix
            section#logo
                div.title JohnSmith
                div.description magicless JavaScript MVVM framework
            section#links Download:
                a(href='john-smith-#{version}.min.js') minified version
                a(href='john-smith-#{version}.debug.js') debug version
            section#resources Resources:
                a(href='https://github.com/guryanovev/JohnSmith') GitHub Repository
                a(href='https://travis-ci.org/guryanovev/JohnSmith', title='Travis CI Build Status')
                    img(src='https://travis-ci.org/guryanovev/JohnSmith.png', alt='Build Status')

        mixin navigationList(currentTopics, level)
            ul(class="navLevel#{level}")
                each topic in currentTopics
                    - var itemClass = topic.id === currentTopic.id ? "selected" : ""
                    li
                        a.topicLink(href='#{topic.id}.html', class=itemClass, id=topic.id + "Link") #{topic.title}
                            if topic.isNew
                                span new
                        if topic.children.length > 0
                            mixin navigationList(topic.children, level + 1)

        mixin articleTopic(currentTopic)
            - var isVisible = !(currentTopic.code)
            - var articleStyle = isVisible ? "" : "display: none"
            div#article(style=articleStyle)
                section.description
                    div.content
                        !{currentTopic.description}

        mixin exampleTopic(currentTopic)
            - var isVisible = currentTopic.code != null
            - var articleStyle = isVisible ? "" : "display: none"
            div#example(style=articleStyle)
                div(class='row-fluid sourceCode')
                    section.javascript.span6.block
                        h4 JavaScript
                        div.content
                            pre
                                code.javascript #{currentTopic.code}
                    section.html.span6.block
                        h4  HTML
                        div.content
                            pre
                                code.html #{currentTopic.markup}
                div(class='row-fluid descriptionAndResult')
                    section.span6.block.description
                        div.content
                            !{currentTopic.description}
                    section.result.span6.block
                        div.content
                            h4 Result

                            div.resultContent
                                !{currentTopic.markup}

                            form(action='http://jsfiddle.net/api/post/jquery/2.0/', method='POST', target='_blank')
                                input#formJs(type='hidden', value='#{currentTopic.code}', name='js')
                                input#formHtml(type='hidden', value='#{currentTopic.markup}', name='html')
                                input(type='hidden', value='/', name='wrap')
                                input(type='hidden', value='http://john-smith-js.com/john-smith.debug.js', name='resources')
                                input(type='submit', value='Open in jsFiddle')

                    script (function(){!{currentTopic.code}}());

        aside
            mixin navigationList(topics, 0)


        div#mainContainer
            div#topic
                h2 #{currentTopic.title}

                mixin articleTopic(currentTopic)
                mixin exampleTopic(currentTopic)

        div#overlay(style="display: none")
            div.content Loading...

        script
            hljs.initHighlightingOnLoad();