doctype
head
    title
        | JohnSmith Framework - #{currentTopic.title}

    meta(charset="UTF-8")

    //if lt IE 9
        script(type="text/javascript", src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

    link(rel="stylesheet", href="assets/styles/googlecode.css")
    link(rel="stylesheet", href="assets/styles/samples_hub.css")
    link(rel="stylesheet", href="assets/styles/tooltipster.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700", type='text/css')

    if currentTopic.styles
        style(type='text/css')
            #{currentTopic.styles}

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='john-smith.debug.js')
    script(src='assets/scripts/highlight.pack.js')
    script(src='assets/scripts/jquery.tooltipster.min.js')
    script(src='assets/scripts/samples_hub.js')
    script
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-41108809-1', 'john-smith-js.com');
        ga('send', 'pageview');
html
    body#application
        mixin navigationList(currentTopics, level)
            ul(class="navLevel#{level}")
                each topic in currentTopics
                    - var itemClass = topic.id === currentTopic.id ? "selected" : ""
                    li
                        if topic.code && topic.markup
                            a.topicLink(href='#{topic.id}.html', class=itemClass, id=topic.id + "Link") #{topic.title}
                                if topic.isNew
                                    span new
                        else
                            span #{topic.title}

                        if topic.children.length > 0
                            mixin navigationList(topic.children, level + 1)

        header#mainHeader
            div.appContent
                div.container
                    img#johnSmith(src='assets/images/john_head_small.png')
                    div#links
                        a(href='https://github.com/guryanovev/JohnSmith')
                            img(src='assets/images/github.png')

                    div#logo
                        span JohnSmith
                        | &nbsp;Samples Hub

        section#page.appContent
            div.container(itemscope,itemtype="http://schema.org/Article")
                header#contentHeader
                    h1(itemprop="name") #{currentTopic.title}

                nav#mainNavigation
                    div.content
                        if prevTopic
                            a#prevLink(href='#{prevTopic.id}.html', title='Previous sample: #{prevTopic.title}') &lt;
                        else
                            a#prevLink.disabled(href='#') &lt;

                        if nextTopic
                            a#nextLink(href='#{nextTopic.id}.html', title='Next sample: #{nextTopic.title}') &gt;
                        else
                            a#nextLink.disabled(href='#') &gt;

                        a#browseAll(href='#')
                            span Browse all
                    div.bg
                        span.left
                        span.right
                        span.center
                            span

                section#source.fullHeight
                    section#javaScript
                        header JavaScript
                        section.sourceContent
                            pre
                                code.javascript !{currentTopic.formattedCode}
                    section#html
                        header HTML
                        section.sourceContent
                            pre
                                code.html #{currentTopic.markup}

                section#result.fullHeight
                    section#tableOfContents(style='height: 0')
                        div.content
                            mixin navigationList(topics, 0)

                    section#tableOfContentsOverlay

                    div.scroller
                        div#description
                            !{currentTopic.description}

                        h3 Result:

                        div#destination
                            !{currentTopic.markup}
                            script (function(){!{currentTopic.code}}());

                        form#sendToJsFiddle(action='http://jsfiddle.net/api/post/jquery/2.0/', method='POST', target='_blank')
                            input#formJs(type='hidden', value='#{currentTopic.code}', name='js')
                            input#formHtml(type='hidden', value='#{currentTopic.markup}', name='html')
                            input(type='hidden', value='d', name='wrap')
                            input(type='hidden', value='http://john-smith-js.com/john-smith.debug.js', name='resources')
                            input#sendButton(type='submit', value='Open in jsFiddle')

        footer#mainFooter.appContent
            div.container
                section#ci
                    a(href='https://travis-ci.org/guryanovev/JohnSmith', title='Travis CI Build Status')
                        img(src='https://travis-ci.org/guryanovev/JohnSmith.png', alt='Build Status')

                section.info v#{version}

                section#footerLinks Get JohnSmith:&nbsp;
                    a(href='john-smith-#{version}.min.js') Download Minified
                    span &nbsp;|&nbsp;
                    a(href='john-smith-#{version}.debug.js') Download Debug
                    span &nbsp;|&nbsp;
                    a(href='http://www.nuget.org/packages/JohnSmith/') NuGet package


        script
            $(function(){
                runApplication();
                //hljs.initHighlightingOnLoad();
                $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
                //setTimeout(function(){
                    $('.codeAnnotation').tooltipster({
                        maxWidth: 300,
                        position: 'right'
                    });
                //}, 3000);
            });