doctype
head
    title
        | JohnSmith Library - #{currentTopic.title}

    meta(charset="UTF-8")

    //if lt IE 9
        script(type="text/javascript", src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

    link(rel="stylesheet", href=pathToRoot + "/assets/styles/prism.css")
    link(rel="stylesheet", href=pathToRoot + "/assets/styles/googlecode.css")
    link(rel="stylesheet", href=pathToRoot + "/assets/styles/samples_hub.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700", type='text/css')

    if currentTopic.styles
        style(type='text/css')
            #{currentTopic.styles}

    script(src=pathToRoot + '/assets/scripts/prism.js')
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-41108809-1', 'john-smith-js.com');
        ga('send', 'pageview');
html
    body#application
        mixin navigationList(currentTopics, level)
            ul(class="navLevel#{level}")
                each topic in currentTopics
                    - var itemClass = topic.id === currentTopic.id ? "selected" : ""
                    li
                        if topic.type === 'leaf'
                            a.topicLink(href=pathToRoot + '/' + topic.path, class=itemClass, id=topic.id + "Link") #{topic.title}

                        if topic.type === 'node' && topic.items.length > 0
                            span #{topic.title}
                            +navigationList(topic.items, level + 1)

        header#mainHeader
            div.appContent
                div.container
                    div#links
                        a(href='https://github.com/john-smith-library/JohnSmith')
                            img(src=pathToRoot + '/assets/images/github.png')

                    div#logo
                        span JohnSmith
                        | &nbsp;Samples Hub

        section#tableOfContents(style='height: 100%')
            div.content
                +navigationList(tableOfContents, 0)

        section#page.appContent
            div.container(itemscope,itemtype="//schema.org/Article")
                header#contentHeader
                    h1(itemprop="name") #{currentTopic.title}

                nav#mainNavigation
                    div.content
                        if prevTopic
                            a#prevLink(href='#{prevTopic.id}.html', title='Previous sample: #{prevTopic.title}') &lt;
                        else
                            a#prevLink.disabled(href='#') &lt;

                        if nextTopic
                            a#nextLink(href='#{nextTopic.id}.html', title='Next sample: #{nextTopic.title}') &gt;
                        else
                            a#nextLink.disabled(href='#') &gt;

                        a#browseAll(href='#')
                            span Browse all
                    div.bg
                        span.left
                        span.right
                        span.center
                            span

                section#source.fullHeight
                    section#javaScript
                        header TypeScript
                        section.sourceContent
                            pre.source-code-container
                                code.language-tsx !{currentTopic.formattedCode}
                    section#html
                        header HTML
                        section.sourceContent
                            pre.source-code-container
                                code.language-html #{currentTopic.markup}

                section#result.fullHeight
                    div.scroller
                        div#description !{currentTopic.description}

                        h3 Result:

                        div#destination !{currentTopic.markup}
                            script (function(){!{currentTopic.code}}());

        footer#mainFooter.appContent
            div.container
                section#ci

                img(src='https://github.com/john-smith-library/JohnSmith/actions/workflows/ci.yml/badge.svg', alt='Build Status')

                section.info v#{version}

                section#footerLinks Get JohnSmith:&nbsp;
                    a(href='john-smith-#{version}.min.js') Download Minified
                    span &nbsp;|&nbsp;
                    a(href='john-smith-#{version}.debug.js') Download Debug
                    span &nbsp;|&nbsp;
                    a(href='http://www.nuget.org/packages/JohnSmith/') NuGet package

        script(src="index.js")
